
*.iml
.gradle
/local.properties
/.idea/caches
/build
/captures
.externalNativeBuild
.cxx
*.keystore
*.jks
.idea/
.kotlin/errors/
# OAuth私钥文件
/private_key.pem
# 忽略 Room 自动生成的数据库模式文件
app/schemas/**/*.json
