<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 蓝牙经典和BLE所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- Android 12+ 需要精确声明蓝牙用途 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" /> <!-- 位置权限用于设备发现 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" /> <!-- 蓝牙硬件特性 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" /> <!-- 相机硬件特性：相机/自动对焦/闪光灯/前后置 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <queries>

        <!-- https://blog.csdn.net/u013762572/article/details/145186669?ops_request_misc=%257B%2522request%255Fid%2522%253A%25223c6fc342b3e38c9a6f3c488590e09fca%2522%252C%2522scm%2522%253A%252220140713.130102334..%2522%257D&request_id=3c6fc342b3e38c9a6f3c488590e09fca&biz_id=0&utm_medium=distribute.pc_search_result.none-task-blog-2~all~sobaiduend~default-1-145186669-null-null.142^v102^pc_search_result_base2&utm_term=android%20%E8%8E%B7%E5%8F%96app%E5%88%97%E8%A1%A8&spm=1018.2226.3001.4187 -->
        <!-- 查询所有启动器应用 -->
        <intent>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:name=".MyApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JVSGlass">
        <activity
            android:name=".ui.MainInterfaceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.MyNotificationListenerService"
            android:enabled="true"
            android:exported="true"
            android:label="通知监听服务"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.notification.FilterSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.notification.NotificationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bt.BluetoothConnectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.translate.TranslateHistoryItemActivity"
            android:exported="false" />
        <activity
            android:name=".ui.translate.TranslateHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.teleprompter.TeleprompterSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ai.AiHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.translate.TranslateFileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.translate.TranslateExchangeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.translate.TranslateRealtimeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.translate.TranslateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ai.FileViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ai.FullScreenImageActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="WrongManifestParent">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.teleprompter.TeleprompterNewFileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.teleprompter.TeleprompterDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TranscribeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ai.JVSAIActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.teleprompter.TeleprompterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.QuickNoteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BluetoothStatusActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SilentModeActivity"
            android:exported="false" />
    </application>

</manifest>